body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

:root {
  background-color: white;
}