body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

:root {
  background-color: white;
}

.bg-dark text-white {
  width: 100px;
  height: 200px;
}

.form {
  text-align: center;
  padding-left: 50px;
}

.text-name {
  width: 15%;
}

.text-ed {
  width: 20%
}

.text-job {
  width: 20%
}

.text-skills {
  width: 30%
}

.button {
  margin-left: 50px;
}
